.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}

.navbar {
  grid-area: 1 / 1 / 2 / 3;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  border: solid black 1px;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
}

.container-protected-route {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-bar-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
